// colors
  $White: #FFFFFF;
  // Primary
    $P500: #2658AB;
    $P400: #3A6DC0;
    $P300: #4F82D5;
    $P200: #6998EB;
    $P100: #86AFF5;
    $P75: #A1C5F7;
    $P50: #B5D5F9;
    $P25: #DAEAFD;
  // Success
    $S500: #157715;
    $S400: #188918;
    $S300: #22C322;
    $S200: #48CD48;
    $S100: #7FDC7F;
    $S75: #A4E6A4;
    $S50: #E9F9E9;
  // Error
    $E500: #810A14;
    $E400: #940C17;
    $E300: #D41121;
    $E200: #DB3947;
    $E100: #E6757E;
    $E75: #ED9DA4;
    $E50: #FBE7E9;
  // Warning
    $W500: #9C7110;
    $W400: #B38212;
    $W300: #FFBA1A;
    $W200: #FFC641;
    $W100: #FFD77A;
    $W75: #FFE3A1;
    $W50: #FFF8E8;
  // Neutral
    $N500: #13191C;
    $N400: #161D20;
    $N300: #1F292E;
    $N200: #454D52;
    $N100: #7D8386;
    $N75: #A3A7A9;
    $N50: #E9EAEA;

